<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/article.css">
</head>
<body>
<div class="header">
    <div id="logo_article_id">
        <p id="logo_text">Django public blog</p>
        <img src="{{ STATIC_URL }}/static/images/python.png"/>
    </div>
    <p id="all_states"><a href="http://127.0.0.1:8000/">Все статьи</a></p>
</div>
<div class="archive">
    <div class="one-post">
        <h2 class="post-title-article">{{ post.title }}</h2>
        <div class="article-info">
            <div class="article-author">{{ post.author_article.last_name}} {{ post.author_article.first_name}}</div>
            <div class="article-created-date">{{ post.date_article|date:"j F Y"|title }}</div>
        </div>
        <p class="article-text">{{ post.text }}</p>
    </div>
</div>
</body>

</html>